<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <h1 class="navbar-brand mb-0">Total items</h1>
        <strong id="total-items">0</strong>
        <h1 class="navbar-brand mb-0">Total price</h1>
        <strong id="total-price">0 USD</strong>
    </nav>
<br />

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>
<!-- Categories -->
<ul>
    <li th:each="category,iterStat:${categories}" ><button th:text="${category.name}" th:id="'category'+${category.id}"></button></li>
</ul>

<!-- Main page -->
<div class="container" th:each="category:${categories}">

    <div class="well well-sm">
        <strong th:text="${category.name}">Category Title</strong>
    </div>

    <div id="products" class="row">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${category.getProducts()}" th:if="${category.id == 1}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" th:attr="data-prod_id=${prod.getId()}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>

<script type="text/javascript" src="/script/dom.js"></script>
</body>
</html>
